/*Messanger chat box CSS*/
.message1, .message2{
    -fx-alignment: bottom-center;
    -fx-spacing: 15;
    -fx-pref-width: 800;
}
.message1{
    -fx-alignment: bottom-right;
}
.message2{
    -fx-alignment: bottom-left;
}
.message1 Label, .message2 Label{
    -fx-padding: 10;
}
.message1 Label{
    -fx-background-color: #c7e4f6;
    -fx-background-radius: 25 25 0 25;
}
.message2 Label{
    -fx-background-color: #F6F8F6;
    -fx-background-radius: 25 25 25 0;
}

/*Chat Head CSS*/
.chatBox{
    -fx-alignment: center-left;
    -fx-padding: 5 10 5 10;
    -fx-background-color:#ffffff;
    -fx-spacing: 0;
    -fx-pref-width: 350;
}
.chatBox:hover{
    -fx-background-color: #e3e3e3;
}
.selectedChatBox{
    -fx-background-color: #e3e3e3;
    -fx-background-radius: 25;
}
.chatBox > VBox{
    -fx-alignment: center-left;
    -fx-spacing: 0;
}
.courseName{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-max-height: 60;
}
.teacherName, .lastMessage{
    -fx-font-size: 17;
    -fx-pref-height: 30;
}

/*Couse HBox CSS*/
.courseHBox .instName{
    -fx-font-size: 19;
}
.courseHBox .shortDesc{
    -fx-font-size: 16;
}

/*FAQ Main Box*/
.comMainBox{
    -fx-pref-width: 800;
    -fx-background-color:#ccffcc;
    -fx-background-radius: 30;
    -fx-padding: 10;
}
.comMainBox:hover{
    -fx-background-color:#99ff99;
}
.comMainBox VBox, .comMainBox HBox{
    -fx-spacing: 0;
    -fx-alignment: center-left;
}
