
/*
 *   Mehedi
 */

Label, TextField, CheckBox, ChoiceBox, Text, TextFlow,
JFXTextField, JFXTextArea, TextArea,
JFXCheckBox, JFXComboBox,
JFXButton, JFXDatePicker,
FontAwesomeIconView, MaterialDesignIconView{
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-prompt-text-fill: white;
}
JFXTextField, JFXTextArea, 
JFXDatePicker, JFXComboBox{
    -jfx-focus-color: #F78D46; /* It is used bottom */
    -jfx-default-color: #F78D46;
    -jfx-unfocus-color: white;
}
.jfx-date-picker .jfx-text-field,
JFXComboBox .jfx-text-field{
    -fx-text-fill: white;
}
.jfx-combo-box .arrow,
.choice-box .arrow {
    -fx-background-color: white;   
}
.combo-box .cell {
    -fx-background-color: #445F67;
    -fx-text-fill: white;
}
.combo-box .cell:hover {
    -fx-background-color: #0066cc;
}
.combo-box .cell:selected {
    -fx-background-color: #0066cc;
}
.backContainer{
    -fx-background-color: #445F67;
}


#mainRoot{
    -fx-background-image: url("../Files/Icon/DarkBG.jpg");
    -fx-background-repeat: repeat;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.5), 15, 0.5, 0.0, 0.0);
}
/*Buttons*/
.blueBtn-m{
    -fx-background-color: #D6B3EF;
    -fx-background-radius: 8;
    -fx-font: 17 "Consolas";
    -fx-text-fill: black;
    -fx-padding: 10;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.blueBtn-m:hover{
    -fx-background-color:  #F6D3FF;
}
.greenBtn-m{
    -fx-background-color: #BCEAC9;
    -fx-background-radius: 8;
    -fx-font: 17 "Consolas";
    -fx-text-fill: black;
    -fx-padding: 10;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.greenBtn-m:hover{
    -fx-background-color: #9CCAA9;
}
.redBtn-m{
    -fx-background-color: #F7BFD2;
    -fx-background-radius: 8;
    -fx-font: 17 "Consolas";
    -fx-text-fill: black;
    -fx-padding: 10;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.redBtn-m:hover{
    -fx-background-color: #D79FB2;
}
/*CourseBox CSS*/
.courseGridBoxContainer{
    /*-fx-background-color: #303E47;*/
    /*-fx-background-color: #2B2B2B;*/
    -fx-background-color: #445F67;
}

/*Category*/
.catContainer{
    -fx-background-color: #22375A;
    -fx-border-color: #013364;
}
.catContainer > HBox:hover{
    -fx-background-color:#1B1C5D;
}
#categoriesLabel{
    -fx-text-fill: cyan;
}
#categoriesLabel:hover{
    -fx-text-fill: #33ccdd;
}
.catContainer > HBox:hover Label{
    -fx-text-fill:#00EDF3;
    -fx-font-weight: bold;
}
.catContainer > HBox:hover FontAwesomeIconView{
    -fx-fill: #00EDF3;
}

/*Right Menu Pop Up*/
#popUpContainer{
    -fx-background-color: #222034;
}
#popUpContainer > HBox{
    -fx-border-color: #535353;
    -fx-background-color:#424242;
}
#popUpContainer Label:hover{
    -fx-text-fill:#00EDF3;
}

/*Notification pane*/
#notificationCount{
    -fx-text-fill: #FF1E1E;
    -fx-effect: dropshadow(gaussian, rgba(42, 42, 42, 1),  4, 1, 0.0, 0.0);
}
#notificationPane{
    -fx-background-color: black;
}
#notificationPane .seen, #notificationPane .unseen{
    -fx-border-color:#DADADA;
}
#notificationPane .seen{
    /*-fx-background-color: #000033;*/
    -fx-background-color: #445F67;
}
#notificationPane .seen:hover{
    /*-fx-background-color: #003333;*/
    -fx-background-color: #49646B;
}
#notificationPane .unseen{
    /*-fx-background-color: #003366;*/
    -fx-background-color: #647F87;
}
#notificationPane .unseen:hover{
    /*-fx-background-color: #330099;*/
    /*-fx-background-color:#455DBA;*/
    -fx-background-color: #69848B;
}

/*Course Details Page*/
#courseDetailsPropertiesContainer FontAwesomeIconView{
    -fx-fill: black;
}
/*Checkout Page*/
#checkoutBottomContainer{
    -fx-border-color: azure; /*white*/
    -fx-background-color: black;
}
/*Signup Page*/
#signupRoot JFXTextField,
#signupRoot JFXComboBox,
#signupRoot MaterialDesignIconView{
    -jfx-focus-color: black;
    -jfx-default-color: black;
    -jfx-unfocus-color: black;
    -fx-prompt-text-fill: black;
}
#signupRoot .jfx-combo-box .arrow,
#signupRoot .choice-box .arrow {
    -fx-background-color: black;   
}
#signupRoot .combo-box .cell {
    -fx-background-color: orange;
    -fx-text-fill: black;
}
#signupRoot .combo-box .cell:hover {
    -fx-background-color: #0066cc;
}
#signupRoot .combo-box .cell:selected {
    -fx-background-color: #0066cc;
}
/*Create Course Functionality*/
.addAnswerHbox Label{
    -fx-border-color: white;
}
.addAnswerHbox JFXTextField:focused .addAnswerHbox Label{
    -fx-border-color: #F78D46;
}
#WeekBoxPane Label, 
#WeekBoxPane TextField,
#WeekBoxPane TextArea,
#WeekBoxPane JFXTextField,
#WeekBoxPane JFXTextArea,
#WeekBoxPane FontAwesomeIconView,
#WeekBoxPane MaterialDesignIconView{
    -fx-text-fill: black;
    -fx-fill: black;
    -jfx-prompt-text-fill: black;
    -fx-focus-color: black;
    -jfx-default-color: black;
}
/*Course Box Horizontal*/
#CourseBoxHorizontal{
    -fx-background-color: #224364;
}
/*
 *   Shammya
 */
/*Admin Panel*/
.tree-cell {
    -fx-background-color: #445F67 ;
    -fx-text-fill: white ;
}
.table-row-cell{
-fx-border-color: #647F87;
-fx-table-cell-border-color:#647F87;}
.table-view:row-selection .table-row-cell:selected .table-cell {
    -fx-background-color:   #445F67;
}
.table-view:row-selection .table-row-cell:hover .table-cell {
    -fx-background-color:    #647F87;
}
.table-row-cell:selected{
    -fx-background-color: blue;
}
.myTree {
   -fx-stroke: #eeeeee;
   -fx-background-color: #2E3B44;
   -fx-text-fill: #ffffff;
   }
.redBtn{
    -fx-text-fill: white;
    -fx-background-color: #F55B50;
    -fx-background-radius: 8;
}
.redColor{
    -fx-background-color:   #F7BFD2;
    -fx-text-fill: black;
}
.BlueButton{
    -fx-text-fill: black;
    -fx-background-color:  #AADAF1;
    -fx-background-radius: 8;
}
.GreenButton{
    -fx-text-fill: black;
    -fx-background-color:     #BCEAC9;
    -fx-background-radius: 8;
}
.RedButton{
    -fx-text-fill: black;
    -fx-background-color:      #F7BFD2;
    -fx-background-radius: 8;
}


.Header1{
    -fx-background-color:    #F4BD4D;
    -fx-text-fill: black;
    -fx-background-radius: 8;
}
.Header2{
    -fx-background-color:     #F7E0C1;
    -fx-text-fill: black;
    -fx-background-radius: 8;
}
.TableColumn{
    -fx-background-color:   #2E3B44;
    -fx-text-fill: white;
}

.TransparentLabel{
    -fx-background-color:   transparent;
    -fx-text-fill: white;
}
.CategoryPane{
    -fx-background-color:      #303E47;
}
.PaneColor{
    -fx-background-color:       #717978;
    -fx-text-fill: white;
}
/*Admin panel*/
.adminpanel #menuContainer{
    -fx-background-color: #445F67;
}    
.adminpanel .leftMenuHovering{
    -fx-background-color:  #647F87;
}
#runningPane{
    -fx-background-color: #EC5252;
}
.adminpanel .name, .adminpanel .icon FontAwesomeIconView, .icon SVGPath{
    -fx-text-fill: white;
    -fx-fill: white;
}