
/* 
    Created on : Nov 26, 2020, 1:55:07 AM
    Author     : Asus
*/

Label, TextField, CheckBox, ChoiceBox, Text, TextFlow,
JFXTextField, JFXTextArea, TextArea,
JFXCheckBox, JFXComboBox,
FontAwesomeIconView, MaterialIconView{
/*    -fx-background-color: black;*/
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-prompt-text-fill: white;
}

#mainRoot{
    -fx-background-image: url("../Files/Icon/DarkBG.jpg");
    -fx-background-repeat: repeat;
}
.shadow{
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0.5, 0.0, 0.0);
}

/*CourseBox CSS*/
.courseGridBoxContainer{
    /*-fx-background-color: #303E47;*/
    -fx-background-color: #2B2B2B;
}

/*Category*/
.catContainer{
    -fx-background-color: #22375A;
    -fx-border-color: #013364;
}
.catContainer > HBox:hover{
    -fx-background-color:#1B1C5D;
}
#categoriesLabel{
    -fx-text-fill: cyan;
}
#categoriesLabel:hover{
    -fx-text-fill: #33ccdd;
}
.catContainer > HBox:hover Label{
    -fx-text-fill:#00EDF3;
}
.catContainer > HBox:hover FontAwesomeIconView{
    -fx-fill: #00EDF3;
}

/*Right Menu Pop Up*/
#popUpContainer{
    -fx-background-color: #222034;
}
#popUpContainer > HBox{
    -fx-border-color: #535353;
    -fx-background-color:#424242;
}
#popUpContainer Label:hover{
    -fx-text-fill:#00EDF3;
}

/*Notification pane*/
#notificationCount{
    -fx-text-fill: #FF1E1E;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 10, 0.5, 0.0, 0.0);
}
#notificationPane{
    -fx-background-color: black;
}
#notificationPane .seen, #notificationPane .unseen{
    -fx-border-color:#DADADA;
}
#notificationPane .seen{
    -fx-background-color: #000033;
}
#notificationPane .seen:hover{
    -fx-background-color: #003333;
}
#notificationPane .unseen{
    -fx-background-color: #003366;
}
#notificationPane .unseen:hover{
    -fx-background-color: #330099;
    -fx-background-color:#455DBA;
}

/*Admin Panel*/
.redBtn{
    -fx-text-fill: white;
    -fx-background-color: #F55B50;
    -fx-background-radius: 8;
}
.redColor{
    -fx-background-color:   #F7BFD2;
    -fx-text-fill: black;
}

.Header1{
    -fx-background-color:    #F4BD4D;
    
}

.Header2{
    -fx-background-color:     #F7E0C1;
}

.CategoryPane{
    -fx-background-color:      #303E47;
}
