
Button{
    -fx-cursor: hand;
}
Label, Text, TextField, TextArea, DatePicker{
    /*-fx-font: 20 "open sans,helvetica neue,Helvetica,Arial,sans-serif";*/
    -fx-font: 20 "sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol";
    -fx-padding: 0 10 0 10;
    -fx-text-alignment: justify;
    -fx-wrap-text: true;
}
TextArea{
    -fx-padding: 0;
}
VBox, HBox{
    -fx-alignment: "CENTER";
    -fx-spacing: 10;
}
TextField{
    -fx-pref-height: 50;
}
.bigIcon{
    -fx-fit-height: 50;
}
.smallIcon{
    -fx-font-size: 20;
}
.fullWidth{
    -fx-pref-width: 1435;
    -fx-max-width: 1435;
}
.leftWidth{
    -fx-pref-width: 300;
    -fx-max-width: 300;
    -fx-min-width: 300;
}
.rightWidth{
    -fx-pref-width: 1;
    -fx-max-width: 1;
    -fx-min-width: 0;
}
.centerRightWidth{
    -fx-pref-width: 1055;
    -fx-max-width: 1055;
}
.maxHeight{
    -fx-max-height: 600;
}
.mainHPadding{
    -fx-padding: 0 30 0 30;
}
.mainVPadding{
    -fx-padding: 20 0 20 0;
}

.maxScaleHover:hover{
    -fx-scale-x: 1.4;
    -fx-scale-y: 1.4;
}
.minScaleHover:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.bold{
    -fx-font-weight: bold;
}
.title1,.title2,.title3,.title4,.title5,.title6,.title7,.title8{
    /*-fx-font-family: "Times new roman";*/
    -fx-font-weight: bold;
}
.title1{
    -fx-font-size: 45;
}
.caption, .title2{
    -fx-font-size: 40;
    -fx-font-weight: bold;
}
.title3{
    -fx-font-size: 35;
}
.title4{
    -fx-font-size: 30;
}
.title5{
    -fx-font-size: 25;
}
.title6{
    -fx-font-size: 23;
}
.title7{
    -fx-font-size: 20;
}
.title8{
    -fx-font-size: 18;
}
.cursorHand{
    -fx-cursor: hand;
}

/*
 * These 3 lines are CSS for file uploader
 */
.fileUploaderHbox{
    -fx-spacing: 1;
    -fx-align: center;
}
.fileUploaderHbox Label{
    -fx-pref-width: 1360;
    -fx-min-height: 40;
    -fx-max-height: 40;
    -fx-pref-height: 40;
    -fx-padding: 0 10 0 10;
    -fx-border-color: #009999;
    -fx-border-width: 2;
    -fx-border-radius: 3;
}
.fileUploaderHbox Button{
    -fx-pref-height: 38;
    -fx-pref-width: 102;
    -fx-min-width: 102;
    -fx-max-width: 102;
    -fx-background-color: #009999;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-border-radius: 0;
}

/*
 * Choice box CSS
 */
.choiceBox{
    -fx-pref-width: 300;
    -fx-pref-height: 45;
    -fx-background-color: #ccffff;
    -fx-border-color: gray;
    -fx-border-radius: 5;
    -fx-padding: 0 10 0 10;
    -fx-alignment: center;   
}
.choiceBoxContainer{
    -fx-spacing: 45;
}
.toolTipContainer{
    -fx-opacity: 1;
}
.toolTipContainer VBox{
    -fx-spacing: 0;
}
.toolTipLabel{
    -fx-text-wrap: true;
    -fx-font-size: 18;
    -fx-max-width: 300;
    -fx-background-color: #ccffff;
    -fx-padding: 10;
    -fx-text-alignment: justify;
    -fx-opacity:1;
}
.infoHbox{
    -fx-spacing: 0;
}

/*Button CSS*/
.myButton{
    -fx-border-color: #9999ff;
    -fx-cursor: hand;
    -fx-background-color:#99ff99;
    -fx-padding: 3 10 3 10;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.8 ), 10, 0, 0, 0 );
}
.floaTingPane{
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, gray, 20, 0.3, 2, 2);
}
.outerShadow{
    -fx-effect: dropshadow(three-pass-box, gray, 15, 0.1, 3, 3);
}

/*Filter CSS*/
.searchResultPageContainer VBox, .searchResultPageContainer HBox{
    -fx-alignment: top-left;
}
.searchResultPageContainer > HBox{
    -fx-alignment: center;
}

.filterContainer, .courseBoxContainer, .filterContainer > VBox{
    -fx-spacing: 0;
}
.filterContainer{
    -fx-max-width: 250;
}
.filterLabel{
    -fx-pref-height: 50;
    -fx-background-color:#ccffff;
    -fx-border-color: black;
    -fx-alignment: center-left;
    -fx-padding: 0 10 0 10;
}
.filterLabel > Label{
    -fx-alignment: center-left;
    -fx-pref-width: 250;
    -fx-font-size: 20;
    -fx-padding: 0 5 0 0;
}
.subFilterContainer{
    -fx-background-color:#99ffcc;
    -fx-padding: 10 10 10 10;
}

/*Top Left Container*/
.checkedListVBox{
    -fx-spacing: 2;
    -fx-alignment: top-center;
    -fx-border-color: gray;     
    -fx-padding: 5 10 30 10;
}
.checkedListVBox > Label{
    -fx-padding: 0;
}
.checkedListHbox{
    -fx-alignment: center-left;
    -fx-border-color: green;
    -fx-border-radius: 4;
    -fx-padding: 0 5 0 5;
}
.checkedListHbox:hover{
    -fx-border-color: red;
}
.checkedListHbox:hover Text{
    -fx-strikethrough: true;
}
.checkedListHbox > Label{
    -fx-padding: 0 0 20 0;
}