/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 6, 2020, 5:54:34 PM
    Author     : ASUS
*/
Label, TextField, JFXTextField, JFXTextArea, TextArea, CheckBox, ChoiceBox, JFXCheckBox, JFXComboBox, FontAwesomeIconView, MaterialIconView{
/*    -fx-background-color: black;*/
    -fx-text-fill: black;
    -fx-fill: black;
}

#mainRoot{
    -fx-background-image: url("../Files/Icon/LightBG.jpg");
    -fx-background-repeat: repeat;
}

/*CourseBox CSS*/
.courseGridBoxContainer{
    -fx-background-color: #EEEEEE;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0.0, 0.0);
}

/*Header CSS*/
#notificationCount{
    -fx-text-fill: #FF1E1E;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 251, 251, 1), 5, 0.9, 0.0, 0.0);

}

/*Category*/
.catContainer{
    -fx-background-color: #EAEAEA;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0.0, 0.0);
    -fx-border-color: #009999;
}
.catContainer > HBox:hover{
    -fx-background-color:#EDF2FA;
}