/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 3, 2020, 6:06:38 PM
    Author     : ASUS
*/

Label{
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-padding: 0;
}
#container{
    -fx-pref-width: 240;
    -fx-max-width: 240;
    -fx-min-width: 240;
    -fx-padding: 0 10 10 10;
}
#wrapper{
    -fx-padding: 5;
}
.courseName, .courseTeacher{
    -fx-pref-width: 220;
    -fx-max-width:  220;
    -fx-min-width:  220;
}
#container{
    -fx-pref-height: 340;
}
.courseName{
    -fx-max-height: 120;
    -fx-text-alignment: left;
    -fx-font-weight: bold;
}
#ratingContainer, #detailsContainer{
    -fx-alignment: center-left;
}
#priceContainer{
    -fx-alignment: center-right;
}
#priceContainer Label{
    -fx-padding: 0 0 0 20;
}
#ratingContainer Label{
    -fx-padding: 0 0 0 10;
}
#container VBox, #container HBox{
    -fx-spacing: 0;
}
.courseTeacher{
    -fx-font-size: 16;
    -fx-padding: 5 0 5 0;
}
.mainPrice .text{
    -fx-font-size: 18;
    -fx-strikethrough: true;
}
.ratingTimes{
    -fx-font-size: 15;
    -fx-alignment: bottom-left;
    -fx-padding: 0;
}
.deductPrice{
    -fx-font-size: 22;
    -fx-font-weight: bold;
}
#courseBoxRating > .container{
    -fx-spacing: 5;
}
#courseBoxRating > .container  .button , #courseBoxRating{
    -fx-pref-height: 20 ;
    -fx-max-height:  20;
    -fx-min-height:  20;
}
#courseBoxRating > .container  .button {
    -fx-pref-width: 20 ;
    -fx-background-size: cover;
    -fx-padding: 0; 
}

/**
 ** Carousel 
 **/
#carouselContainer{
    -fx-padding: 10 20 10 20;
}
#courseBoxContainer{
    -fx-alignment: center-left;
}
.leftArrow, .rightArrow{
    -fx-opacity: 0.1;
}
.leftArrow:hover, .rightArrow:hover{
    -fx-opacity: 0.8;
}

/**
 ** Notification pane 
 **/
#notificationPane{
    -fx-pref-width: 500;
    -fx-max-height: 650;
}
#notificationPane VBox{
    -fx-spacing: 0;
}
#notificationPane .seen, #notificationPane .unseen{
    -fx-pref-width: 480;
    -fx-border-color:#DDDFE2;
    -fx-cursor: hand;
}
#notificationPane TextFlow{
    -fx-padding: 10;
    -fx-text-alignment: justify;
}
#notificationPane TextFlow{
    -fx-pref-width: 460;
}
/**
 ** Profile Icon Pop Over 
 **/
#popUpContainer{
    -fx-pref-width: 380;
    -fx-alignment: top-left;
    -fx-padding: 20;
}
#popUpContainer > HBox{
    -fx-padding: 5;
    -fx-alignment: center-left;
    -fx-spacing: 20;
}
#popUpContainer Label{
    -fx-font-size: 23;
    -fx-pref-width: 360;
    -fx-cursor: hand;
}

/*Course Box Horizontal*/
#CourseBoxHorizontal VBox, #CourseBoxHorizontal HBox{
    -fx-alignment: top-left;
}

/*Categories*/
#categoriesLabel{
    -fx-font-size: 23;
    -fx-pref-height: 80;
}
.catContainer{
    -fx-spacing: 0;
}
.catContainer > HBox{
    -fx-padding: 0 10 0 10;
    -fx-pref-height: 50;
    -fx-pref-width: 300;
    -fx-alignment: CENTER_LEFT;
    -fx-cursor: hand;
}
.catContainer Label{
    -fx-font-size: 20;
}
.catContainer FontAwesomeIconView{
    -glyph-size: 30;
}

/*Profile & Settings*/
.profileSettingRoot HBox, .profileSettingRoot VBox{
    -fx-alignment: CENTER;
}
.profileSetting HBox, .profileSetting VBox{
    
}
.profileSetting > HBox{
    -fx-alignment: top-center;
    -fx-spacing: 30;
}
.profileSetting > HBox > VBox{
    -fx-alignment: top-center;
    -fx-spacing: 30;
    -fx-pref-width: 400;
}
.profileSetting > HBox > .first, .profileSetting ChoiceBox{
    -fx-pref-width: 350;
    -fx-pref-height: 50;
}
.profileSetting > HBox > .second{
    -fx-pref-width: 550;
}
.fieldContainer{
    -fx-alignment: center-left;
    -fx-spacing: 2;
}
.fieldContainer > Label{
    -fx-padding: 0;
}
.fieldContainer > HBox{
    -fx-spacing: 0;
}
.fieldContainer > HBox > .disableField{
    -fx-pref-width: 260;
}
.profileSettingRoot .btn{
    -fx-background-color: #009999;
    -fx-text-fill: white;
    -fx-font-size: 21;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-pref-height: 50;
    -fx-pref-width: 120;
}
.profileSetting ChoiceBox{
    -fx-padding: 0 10 0 10;
}
.profileSetting JFXTextField{
    -fx-padding: 0;
    -fx-pref-height: 20;
}
.profileSetting .second > HBox{
    -fx-spacing: 0;
}
.profileSetting .first > VBox,
.profileSetting > HBox > VBox > VBox{
    -fx-alignment: top-left;
}
.profileSetting{
    -fx-spacing: 40;
}
.profileSetting .first,
.profileSetting .second,
.profileSetting > HBox > VBox{
    -fx-spacing: 70;
}
